In [182]:
import numpy as np
import pandas as pd

In [183]:
from ast import literal_eval
train = pd.read_csv('train.csv', converters={'Product_Holding_B1': literal_eval , 
                                             'Product_Holding_B2': literal_eval})


test = pd.read_csv('test.csv', converters={'Product_Holding_B1': literal_eval})

In [184]:
train.head(10)

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1,Product_Holding_B2
0,CC264719,Male,41,14,0,C1,S3,[P16],[P8]
1,CC209679,Female,47,14,1,C1,S2,"[P13, P20]",[P3]
2,CC319633,Female,59,14,0,C2,S2,[P11],[P00]
3,CC231413,Female,32,16,0,C1,S2,"[P8, P13]",[P6]
4,CC259633,Male,30,15,0,C2,S3,"[P16, P17, P21]","[P8, P12]"
5,CC384429,Female,28,12,0,C1,S2,[P17],[P16]
6,CC233048,Male,30,17,0,C1,S2,"[P16, P17]",[P8]
7,CC370586,Male,44,16,1,C2,S2,"[P16, P21]","[P1, P12]"
8,CC358694,Male,47,44,0,C2,S3,"[P13, P20]",[P12]
9,CC316464,Male,26,12,0,C2,S3,"[P13, P21]",[P9]

In [185]:
test.head(10)

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1
0,CC372708,Female,31,31,0,C2,S3,"[P12, P13]"
1,CC216072,Male,28,37,1,C1,S2,"[P12, P13]"
2,CC387629,Male,31,12,0,C2,S3,[P20]
3,CC389228,Female,55,11,0,C2,S2,"[P13, P21]"
4,CC394445,Male,51,49,1,C2,S1,[P13]
5,CC241088,Male,58,17,0,C2,S1,"[P13, P20]"
6,CC381551,Male,46,12,0,C2,S3,[P17]
7,CC238627,Male,40,17,0,C1,S3,"[P16, P20]"
8,CC287515,Female,59,13,0,C2,S3,[P16]
9,CC312519,Male,32,16,0,C1,S3,"[P10, P12, P16]"

In [186]:
train.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
Product_Holding_B2    0
dtype: int64

In [187]:
test.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
dtype: int64

In [188]:
df1 = train[['Product_Holding_B1']]
df2 = train[['Product_Holding_B2']]
df3 = test[['Product_Holding_B1']]

In [189]:
mlb = MultiLabelBinarizer()
df1 = df1.join(pd.DataFrame(mlb.fit_transform(df1.pop('Product_Holding_B1')),
                          columns=mlb.classes_,
                          index=df1.index))
df2 = df2.join(pd.DataFrame(mlb.fit_transform(df2.pop('Product_Holding_B2')),
                          columns=mlb.classes_,
                          index=df2.index))
df3 = df3.join(pd.DataFrame(mlb.fit_transform(df3.pop('Product_Holding_B1')),
                          columns=mlb.classes_,
                          index=df3.index))

In [190]:
df1_cols = df1.columns
df1_cols = "B1_"+df1_cols
df1.columns = df1_cols

df2_cols = df2.columns
df2_cols = "B2_"+df2_cols
df2.columns = df2_cols

df3_cols = df3.columns
df3_cols = "B1_"+df3_cols
df3.columns = df3_cols

In [191]:

df1

,B1_P00,B1_P1,B1_P10,B1_P11,B1_P12,B1_P13,B1_P14,B1_P15,B1_P16,B1_P17,...,B1_P2,B1_P20,B1_P21,B1_P3,B1_P4,B1_P5,B1_P6,B1_P7,B1_P8,B1_P9
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37743,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
37744,0,0,0,0,0,0,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
37745,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37746,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37747,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [192]:
df2

,B2_P00,B2_P1,B2_P10,B2_P11,B2_P12,B2_P13,B2_P14,B2_P15,B2_P16,B2_P17,B2_P18,B2_P2,B2_P20,B2_P3,B2_P4,B2_P5,B2_P6,B2_P7,B2_P8,B2_P9
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37743,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
37744,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
37745,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37746,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37747,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [193]:
df3

,B1_P00,B1_P1,B1_P10,B1_P11,B1_P12,B1_P13,B1_P14,B1_P15,B1_P16,B1_P17,...,B1_P2,B1_P20,B1_P21,B1_P3,B1_P4,B1_P5,B1_P6,B1_P7,B1_P8,B1_P9
0,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20322,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20323,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20324,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20325,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
20326,0,0,0,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [194]:
train.drop(['Product_Holding_B1','Product_Holding_B2'],axis=1,inplace=True)
test.drop(['Product_Holding_B1'],axis=1,inplace=True)

In [195]:
train.head()

  Customer_ID  Gender  Age  Vintage  Is_Active City_Category Customer_Category
0    CC264719    Male   41       14          0            C1                S3
1    CC209679  Female   47       14          1            C1                S2
2    CC319633  Female   59       14          0            C2                S2
3    CC231413  Female   32       16          0            C1                S2
4    CC259633    Male   30       15          0            C2                S3

In [196]:
train =pd.concat([train,df1,df2],axis=1)
train

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,B1_P00,B1_P1,B1_P10,...,B2_P18,B2_P2,B2_P20,B2_P3,B2_P4,B2_P5,B2_P6,B2_P7,B2_P8,B2_P9
0,CC264719,Male,41,14,0,C1,S3,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,CC209679,Female,47,14,1,C1,S2,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,CC319633,Female,59,14,0,C2,S2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CC231413,Female,32,16,0,C1,S2,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,CC259633,Male,30,15,0,C2,S3,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37743,CC314217,Male,28,24,1,C1,S2,0,0,0,...,0,0,0,0,0,0,0,0,0,1
37744,CC388747,Male,36,11,0,C2,S2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
37745,CC318056,Male,44,26,1,C2,S2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37746,CC373551,Female,56,15,1,C1,S2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37747,CC269624,Male,29,13,0,C2,S2,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [197]:
test =pd.concat([test,df3],axis=1)
test

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,B1_P00,B1_P1,B1_P10,...,B1_P2,B1_P20,B1_P21,B1_P3,B1_P4,B1_P5,B1_P6,B1_P7,B1_P8,B1_P9
0,CC372708,Female,31,31,0,C2,S3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,CC216072,Male,28,37,1,C1,S2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CC387629,Male,31,12,0,C2,S3,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,CC389228,Female,55,11,0,C2,S2,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,CC394445,Male,51,49,1,C2,S1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20322,CC303542,Female,37,11,1,C2,S3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20323,CC266713,Male,29,14,0,C2,S2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20324,CC393639,Male,26,12,0,C2,S3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20325,CC285013,Female,44,19,1,C1,S3,0,0,0,...,0,0,0,0,0,0,0,0,1,1
20326,CC274657,Female,25,21,0,C1,S3,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [198]:
train.describe(include='all')

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,B1_P00,B1_P1,B1_P10,...,B2_P18,B2_P2,B2_P20,B2_P3,B2_P4,B2_P5,B2_P6,B2_P7,B2_P8,B2_P9
count,37748,37748,37748.000000,37748.000000,37748.000000,37748,37748,37748.000000,37748.000000,37748.000000,...,37748.000000,37748.000000,37748.000000,37748.000000,37748.000000,37748.000000,37748.000000,37748.000000,37748.000000,37748.000000
unique,37748,2,NaN,NaN,NaN,2,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,CC264179,Male,NaN,NaN,NaN,C1,S3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,25890,NaN,NaN,NaN,18941,17865,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,38.521379,19.573169,0.264809,NaN,NaN,0.026862,0.000318,0.038995,...,0.000053,0.005457,0.000106,0.065858,0.077964,0.032081,0.123848,0.066917,0.305129,0.048559
std,NaN,NaN,10.121811,10.252417,0.441237,NaN,NaN,0.161683,0.017827,0.193587,...,0.007279,0.073672,0.010294,0.248037,0.268119,0.176218,0.329412,0.249882,0.460468,0.214947
min,NaN,NaN,24.000000,2.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,29.000000,13.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,37.000000,16.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,47.000000,23.000000,1.000000,NaN,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,NaN,NaN,59.000000,65.000000,1.000000,NaN,NaN,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [199]:
train.drop(['Customer_ID'],axis=1,inplace=True)
test.drop(['Customer_ID'],axis=1,inplace=True)

In [200]:
from sklearn import preprocessing
 
label_encoder = preprocessing.LabelEncoder()
 
train['Gender']= label_encoder.fit_transform(train['Gender'])
test['Gender']= label_encoder.fit_transform(test['Gender'])

train['City_Category']= label_encoder.fit_transform(train['City_Category'])
test['City_Category']= label_encoder.fit_transform(test['City_Category'])

train['Customer_Category']= label_encoder.fit_transform(train['Customer_Category'])
test['Customer_Category']= label_encoder.fit_transform(test['Customer_Category'])

In [203]:
num = train[['Age','Vintage']]
num2 = test[['Age','Vintage']]

In [204]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(num)
num = pd.DataFrame(scaler.transform(num))
num.head()

          0         1
0  0.244882 -0.543603
1  0.837670 -0.543603
2  2.023244 -0.543603
3 -0.644298 -0.348524
4 -0.841894 -0.446064

In [205]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(num2)
num2 = pd.DataFrame(scaler.transform(num2))
num2.head()

          0         1
0 -0.728087  1.111067
1 -1.025410  1.696296
2 -0.728087 -0.742157
3  1.650493 -0.839695
4  1.254063  2.866753

In [208]:
train[['Age','Vintage']]=num
test[['Age','Vintage']]=num2

In [209]:
train.head()

,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,B1_P00,B1_P1,B1_P10,B1_P11,...,B2_P18,B2_P2,B2_P20,B2_P3,B2_P4,B2_P5,B2_P6,B2_P7,B2_P8,B2_P9
0,1,0.244882,-0.543603,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0.837670,-0.543603,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,2.023244,-0.543603,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,-0.644298,-0.348524,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,-0.841894,-0.446064,0,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [210]:
test.head()

,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,B1_P00,B1_P1,B1_P10,B1_P11,...,B1_P2,B1_P20,B1_P21,B1_P3,B1_P4,B1_P5,B1_P6,B1_P7,B1_P8,B1_P9
0,0,-0.728087,1.111067,0,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,-1.025410,1.696296,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,-0.728087,-0.742157,0,1,2,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,1.650493,-0.839695,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,1.254063,2.866753,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [211]:
train.to_csv("train_updated.csv",index=False)
test.to_csv("test_updated.csv",index=False)