In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [4]:
train.head(10)

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1,Product_Holding_B2
0,CC264719,Male,41,14,0,C1,S3,['P16'],['P8']
1,CC209679,Female,47,14,1,C1,S2,"['P13', 'P20']",['P3']
2,CC319633,Female,59,14,0,C2,S2,['P11'],['P00']
3,CC231413,Female,32,16,0,C1,S2,"['P8', 'P13']",['P6']
4,CC259633,Male,30,15,0,C2,S3,"['P16', 'P17', 'P21']","['P8', 'P12']"
5,CC384429,Female,28,12,0,C1,S2,['P17'],['P16']
6,CC233048,Male,30,17,0,C1,S2,"['P16', 'P17']",['P8']
7,CC370586,Male,44,16,1,C2,S2,"['P16', 'P21']","['P1', 'P12']"
8,CC358694,Male,47,44,0,C2,S3,"['P13', 'P20']",['P12']
9,CC316464,Male,26,12,0,C2,S3,"['P13', 'P21']",['P9']

In [5]:
test.head(10)

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1
0,CC372708,Female,31,31,0,C2,S3,"['P12', 'P13']"
1,CC216072,Male,28,37,1,C1,S2,"['P12', 'P13']"
2,CC387629,Male,31,12,0,C2,S3,['P20']
3,CC389228,Female,55,11,0,C2,S2,"['P13', 'P21']"
4,CC394445,Male,51,49,1,C2,S1,['P13']
5,CC241088,Male,58,17,0,C2,S1,"['P13', 'P20']"
6,CC381551,Male,46,12,0,C2,S3,['P17']
7,CC238627,Male,40,17,0,C1,S3,"['P16', 'P20']"
8,CC287515,Female,59,13,0,C2,S3,['P16']
9,CC312519,Male,32,16,0,C1,S3,"['P10', 'P12', 'P16']"

In [11]:
train.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
Product_Holding_B2    0
dtype: int64

In [12]:
test.isnull().sum()

Customer_ID           0
Gender                0
Age                   0
Vintage               0
Is_Active             0
City_Category         0
Customer_Category     0
Product_Holding_B1    0
dtype: int64

In [13]:
train_copy = train.copy()

In [19]:
from ast import literal_eval
df = pd.read_csv('test.csv', converters={'col1': literal_eval})

In [20]:
df.head(10)

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,Product_Holding_B1
0,CC372708,Female,31,31,0,C2,S3,"['P12', 'P13']"
1,CC216072,Male,28,37,1,C1,S2,"['P12', 'P13']"
2,CC387629,Male,31,12,0,C2,S3,['P20']
3,CC389228,Female,55,11,0,C2,S2,"['P13', 'P21']"
4,CC394445,Male,51,49,1,C2,S1,['P13']
5,CC241088,Male,58,17,0,C2,S1,"['P13', 'P20']"
6,CC381551,Male,46,12,0,C2,S3,['P17']
7,CC238627,Male,40,17,0,C1,S3,"['P16', 'P20']"
8,CC287515,Female,59,13,0,C2,S3,['P16']
9,CC312519,Male,32,16,0,C1,S3,"['P10', 'P12', 'P16']"

In [21]:
df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('Product_Holding_B1')),
                index=df.index,
                columns=mlb.classes_))

In [22]:
df.head(10)

,Customer_ID,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,,',",",...,3,4,5,6,7,8,9,P,[,]
0,CC372708,Female,31,31,0,C2,S3,1,1,1,...,1,0,0,0,0,0,0,1,1,1
1,CC216072,Male,28,37,1,C1,S2,1,1,1,...,1,0,0,0,0,0,0,1,1,1
2,CC387629,Male,31,12,0,C2,S3,0,1,0,...,0,0,0,0,0,0,0,1,1,1
3,CC389228,Female,55,11,0,C2,S2,1,1,1,...,1,0,0,0,0,0,0,1,1,1
4,CC394445,Male,51,49,1,C2,S1,0,1,0,...,1,0,0,0,0,0,0,1,1,1
5,CC241088,Male,58,17,0,C2,S1,1,1,1,...,1,0,0,0,0,0,0,1,1,1
6,CC381551,Male,46,12,0,C2,S3,0,1,0,...,0,0,0,0,1,0,0,1,1,1
7,CC238627,Male,40,17,0,C1,S3,1,1,1,...,0,0,0,1,0,0,0,1,1,1
8,CC287515,Female,59,13,0,C2,S3,0,1,0,...,0,0,0,1,0,0,0,1,1,1
9,CC312519,Male,32,16,0,C1,S3,1,1,1,...,0,0,0,1,0,0,0,1,1,1

In [ ]:
train

In [7]:
a="['P13', 'P20']"
b=a.split("'")
b

['[', 'P13', ', ', 'P20', ']']

In [8]:
a="['P20']"
b=a.split("'")
b

['[', 'P20', ']']

In [9]:

a="['P10', 'P12', 'P16']"
b=a.split("'")
b

['[', 'P10', ', ', 'P12', ', ', 'P16', ']']