In [3]:
import numpy as np
import pandas as pd

In [4]:
train = pd.read_csv('train_updated.csv')
test = pd.read_csv('test_updated.csv')

In [6]:
B1_cols = [col for col in list(train.columns) if col.startswith('B1')]
B2_cols = [col for col in list(train.columns) if col.startswith('B2')]

In [7]:
B1_cols

['B1_P00',
 'B1_P1',
 'B1_P10',
 'B1_P11',
 'B1_P12',
 'B1_P13',
 'B1_P14',
 'B1_P15',
 'B1_P16',
 'B1_P17',
 'B1_P18',
 'B1_P19',
 'B1_P2',
 'B1_P20',
 'B1_P21',
 'B1_P3',
 'B1_P4',
 'B1_P5',
 'B1_P6',
 'B1_P7',
 'B1_P8',
 'B1_P9']

In [8]:
B2_cols

['B2_P00',
 'B2_P1',
 'B2_P10',
 'B2_P11',
 'B2_P12',
 'B2_P13',
 'B2_P14',
 'B2_P15',
 'B2_P16',
 'B2_P17',
 'B2_P18',
 'B2_P2',
 'B2_P20',
 'B2_P3',
 'B2_P4',
 'B2_P5',
 'B2_P6',
 'B2_P7',
 'B2_P8',
 'B2_P9']

In [11]:
from sklearn.model_selection import train_test_split

target_cols = B2_cols
X = train.drop(columns = target_cols)
y = train[target_cols]

In [12]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.25, random_state=10)

In [13]:
X_train

,Unnamed: 0,Gender,Age,Vintage,Is_Active,City_Category,Customer_Category,B1_P00,B1_P1,B1_P10,...,B1_P2,B1_P20,B1_P21,B1_P3,B1_P4,B1_P5,B1_P6,B1_P7,B1_P8,B1_P9
7323,7323,1,2.124397,1.077960,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22247,22247,0,2.062188,1.013877,0,1,2,0,0,0,...,0,1,0,0,0,0,0,0,0,0
11187,11187,1,2.037550,1.003570,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11433,11433,0,2.201906,1.111905,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15776,15776,1,2.105333,1.082123,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10201,10201,1,2.188342,1.070453,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9372,9372,0,2.173919,1.098785,0,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28017,28017,0,2.024310,1.057027,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29199,29199,0,2.050159,1.073151,1,1,2,0,0,1,...,0,0,1,0,0,0,0,0,0,0
17673,17673,0,2.050159,1.048114,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0